<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <%= image_tag @movie.image.url(:medium) %>
                <div class="star-rating" data-score=<%= @avg_review %>></div>
                <em><%= "#{@reviews.length} reviews" %></em>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>Nome:</strong></td>
                                <td><%= @movie.name %></td>
                            </tr>
                            <tr>
                                <td><strong>Sinopse:</strong></td>
                                <td><%= @movie.synopsis %></td>
                            </tr>
                            <tr>
                                <td><strong>Ano do lançamento:</strong></td>
                                <td><%= @movie.release_year %></td>
                            </tr>
                            <tr>
                                <td><strong>Diretor:</strong></td>
                                <td><%= @movie.director %></td>
                            </tr>
                            <tr>
                                <td><strong>Média de Avaliação:</strong></td>
                                <td><%= @avg_review  %></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group" role="group" aria-label="Basic example">
                         <%= link_to "Escrever Comentário", new_movie_review_path(@movie),  class: "btn btn-primary", style: "margin-top: -5px" %>
                         <%= link_to 'Editar', edit_movie_path(@movie),  class: "btn btn-primary", style: "margin-top: -5px" %>
                         <%= link_to 'Voltar', movies_path,  class: "btn btn-primary", style: "margin-top: -5px" %>
                         <%= link_to 'Excluir', { controller: :movies, action: :destroy }, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-primary", style: "margin-top: -5px" %>

                    </div>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <h1 class="review_title"><%= @movie.name %></h1>
                <p><b><%= @movie.synopsis %><b></p>

                <% if @reviews.blank? %>
                <h3>Ainda não há comentários, adicione o primeiro!</h3>
                <%= link_to "Escreva um comentário", new_movie_review_path(@movie), class: "btn btn-danger" %>
                <% else %>
                <% @reviews.each do |review| %>
                <div class="reviews">
                    <div class="star-rating" data-score=<%= review.rating %>></div>
                    <p><%= review.comment %></p>
                </div>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
    $('.star-rating').raty({
        path: '/assets/',
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        }
    });
</script>