<%= form_for([@movie, @review]) do |form| %>
<% if @review.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

    <ul>
        <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="field">
            <div id="star-rating"></div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <%= form.label :comment, 'Comentário' %>
                <%= form.text_area :comment, class: 'form-control', required: true %><br>
            </div>
            <br>
        </div>
        <button type="submit" class="btn btn-primary ">Salvar</button>
        <%= link_to 'Voltar', movie_path(@movie),  class: "btn btn-primary" %>
    </div>
</div>



<% end %>

<script>
    $('#star-rating').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>